<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.udemy.com" class="footer-link">The Complete Ruby on Rails Developer</a>
            by <a href="http://mashrurhossain.com" class="footer-link">Mashrur Hossain</a>
            <%= link_to "Abou", about_path, class: "footer-link" %>
        </small>
    </footer>
</div>